<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Library_MGT V1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>Controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookController</display-name>
    <servlet-name>AddBookController</servlet-name>
    <servlet-class>Controller.AddBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookController</servlet-name>
    <url-pattern>/AddBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookController</display-name>
    <servlet-name>SearchBookController</servlet-name>
    <servlet-class>Controller.SearchBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookController</servlet-name>
    <url-pattern>/SearchBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookController</display-name>
    <servlet-name>DeleteBookController</servlet-name>
    <servlet-class>Controller.DeleteBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookController</servlet-name>
    <url-pattern>/DeleteBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowBookController</display-name>
    <servlet-name>BorrowBookController</servlet-name>
    <servlet-class>Controller.BorrowBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBookController</servlet-name>
    <url-pattern>/BorrowBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookController</display-name>
    <servlet-name>UpdateBookController</servlet-name>
    <servlet-class>Controller.UpdateBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookController</servlet-name>
    <url-pattern>/UpdateBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllBookController</display-name>
    <servlet-name>SelectAllBookController</servlet-name>
    <servlet-class>Controller.SelectAllBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllBookController</servlet-name>
    <url-pattern>/SelectAllBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>Controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsActiveController</display-name>
    <servlet-name>IsActiveController</servlet-name>
    <servlet-class>Controller.IsActiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsActiveController</servlet-name>
    <url-pattern>/IsActiveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Activate_StatusController</display-name>
    <servlet-name>Activate_StatusController</servlet-name>
    <servlet-class>Controller.Activate_StatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activate_StatusController</servlet-name>
    <url-pattern>/Activate_StatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSelectAllBookController</display-name>
    <servlet-name>AdminSelectAllBookController</servlet-name>
    <servlet-class>Controller.AdminSelectAllBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSelectAllBookController</servlet-name>
    <url-pattern>/AdminSelectAllBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetController</display-name>
    <servlet-name>ForgetController</servlet-name>
    <servlet-class>Controller.ForgetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetController</servlet-name>
    <url-pattern>/ForgetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetController1</display-name>
    <servlet-name>ForgetController1</servlet-name>
    <servlet-class>Controller.ForgetController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetController1</servlet-name>
    <url-pattern>/ForgetController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadController</display-name>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>Controller.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/UploadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyBookController</display-name>
    <servlet-name>BuyBookController</servlet-name>
    <servlet-class>Controller.BuyBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyBookController</servlet-name>
    <url-pattern>/BuyBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadBookPhotoController</display-name>
    <servlet-name>UploadBookPhotoController</servlet-name>
    <servlet-class>Controller.UploadBookPhotoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBookPhotoController</servlet-name>
    <url-pattern>/UploadBookPhotoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBookController</display-name>
    <servlet-name>ReturnBookController</servlet-name>
    <servlet-class>Controller.ReturnBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookController</servlet-name>
    <url-pattern>/ReturnBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecentAddedBookController</display-name>
    <servlet-name>RecentAddedBookController</servlet-name>
    <servlet-class>Controller.RecentAddedBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecentAddedBookController</servlet-name>
    <url-pattern>/RecentAddedBookController</url-pattern>
  </servlet-mapping>
</web-app>